
.ico_sprite{
    overflow:hidden;
    background-repeat:no-repeat;
    background-image:url('../../../laravel/public/image/sprite.png');
    height:16px;
    width:16px;
    overflow:hidden;
    padding:0;
    display:-moz-inline-box;
    display:inline-block;
    vertical-align:middle;
}
.ico_administrator{background-position:0px 0px}.ico_adminpanel{background-position:0px -16px}.ico_cross{background-position:0px -32px}.ico_door_out{background-position:0px -48px}.ico_group{background-position:0px -64px}.ico_information{background-position:0px -80px}.ico_key{background-position:0px -96px}.ico_pencil{background-position:0px -112px}.ico_plus{background-position:0px -128px}.ico_reseller_account{background-position:0px -144px}.ico_shield{background-position:0px -160px}.ico_user{background-position:0px -176px}.ico_user_edit{background-position:0px -192px}