.autocomplete-suggestions
{
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion
{
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected
{
    background: #F0F0F0;
}

.autocomplete-suggestions strong
{
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group
{
    padding: 2px 5px;
}

.autocomplete-group strong
{
    display: block;
    border-bottom: 1px solid #000;
}

.avatar-menu
{
    margin: 0;
    padding: 0 !important;
    max-height: 40px;
}

.avatar-menu > .avatar-block
{
    display: inline-block;
    margin-right: 10px;
}

.avatar-menu > .avatar-block > .avatar
{
    border: 1px solid #555;
    max-height: 40px;
}

.avatar-menu > .avatar-fullname
{
    display: inline-block;
    vertical-align: middle;
    max-height: 40px;
    font-size: 10px;
    margin-right: 10px;
    line-height: 15px;
}

.avatar-menu > .avatar-caret
{
    margin-right: 10px;
}

.nav > li.dropdown > ul > li.nav-header-group
{
    display: block;
    color: #999;
    padding: 3px 15px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.error-message
{
    color: #d9534f;
}

.center
{
    text-align: center;
}

.div-margin-bottom-15
{
    margin-bottom: 15px;
}

.col-min
{
    width: 1px;
}

.vertical-middle
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}